// Styling for the masthead
header.masthead {
  min-height: 100vh;
  padding-top: 10rem;
  padding-bottom: calc(10rem - #{$navbar-height});
  // replace the masthead.jpg image in the /img directory to change the image
  // if the image name change, make sure to update the url path below!
  background: linear-gradient(to bottom, #{fade-out($brown, .3)} 0%,#{fade-out($brown, .7)} 100%), url('../img/bg-masthead.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  h1 {
    font-size: 1.5rem;
  }
  @include media-breakpoint-up(lg) {
    height: 100vh;
    padding-top: $navbar-height;
    padding-bottom: 0;
    p {
      font-size: 1.2rem;
    }
    h1 {
      font-size: 1.7rem;
    }
  }
  @include media-breakpoint-up(xl) {
    h1 {
      font-size: 2rem;
    }
  }
  iframe{
    opacity: .8;
    margin-top: 20px;
  }
}
